<li> 
	<a id= "<%=note.id%>"href="<%=note_time_converter(note.time)%>"><%=note.time %>:</a>  <%=note.body %>

	<%= form_tag note_path(note), :class => "delete-note" do %>
		<%= submit_tag 'Delete' %>      
	<% end %>
</li>
