<h3>Your Video Notes:</h3>
<h4>
<% @user_videos.each do |video| %>
  <li><p><a href="/youtube/<%=video.id%>"><img src="http://img.youtube.com/vi/<%=parse_youtube(video.link)%>/0.jpg">
  <%= video.title %></a> Notecount: <%= current_user.notes.where(video_id: video.id).count %></p>

  <form method="post" action="/users/<%=video.id %>" class="delete-note">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete notes?">
    </form></li>
  <%end%>
</h4>